.vscode/settings.json
.vscode/tasks.json
tests/__pycache__
tests/DataScience/__pycache__
tests/DataEngineering__pycache__
src/gacels/__pycache__
src/gacels/DataScience/__pycache__
src/gacels/DataEngineering__pycache__
/Data/
/.vscode
/src/gacels/DataEngineering/__pycache__
/tests/DataEngineering/__pycache__
/.pytest_cache
/src/gacels/data_science/__pycache__
/src/gacels/data_engineering/__pycache__